@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-system;
}

.filter-menu {
    filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.15));
}

.bg-forward-btn {
    background-repeat: no-repeat;
    background-position: -294px -273px;
    background-image: url(/icons.png);
}

.bg-back-btn {
    background-repeat: no-repeat;
    background-position: -294px -226px;
    background-image: url(/icons.png);
}

.bg-opacity-forward-btn {
    background-repeat: no-repeat;
    background-position: -162px -98px;
    background-image: url(/icons2.png);
}

.bg-opacity-back-btn {
    background-repeat: no-repeat;
    background-position: -130px -98px;
    background-image: url(/icons2.png);
}

.bg-photo {
    background-repeat: no-repeat;
    background-position: -128px -269px;
    background-image: url(/icons2.png);
}

.paging-item {
    @apply mr-1;
}

.paging-item button {
    @apply !fill-white;
}

input:disabled {
    @apply cursor-not-allowed bg-btnBackground border-separator text-secondaryText;
}

button:disabled {
    @apply pointer-events-none opacity-30;
}

.setting-content {
    @apply py-9 min-h-with-copyright-footer;
}
