@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-system dark:text-darkText dark:bg-black;
}

.filter-menu {
    filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.15));
}

.bg-forward-btn {
    background-repeat: no-repeat;
    background-position: -294px -273px;
    background-image: url(/icons.png);
}

.bg-back-btn {
    background-repeat: no-repeat;
    background-position: -294px -226px;
    background-image: url(/icons.png);
}

.bg-opacity-forward-btn {
    background-repeat: no-repeat;
    background-position: -162px -98px;
    background-image: url(/icons2.png);
}

.bg-opacity-back-btn {
    background-repeat: no-repeat;
    background-position: -130px -98px;
    background-image: url(/icons2.png);
}

.bg-photo {
    background-repeat: no-repeat;
    background-position: -128px -269px;
    background-image: url(/icons2.png);
}

.bg-facebook-icon {
    background-repeat: no-repeat;
    background-position: -414px -300px;
    background-image: url(/icons2.png);
}

.bg-facebook-icon-primary {
    background-repeat: no-repeat;
    background-position: -414px -259px;
    background-image: url(/icons2.png);
}

.bg-error-icon {
    background-repeat: no-repeat;
    background-position: -249px -333px;
    background-image: url(/icons2.png);
}

.bg-valid-icon {
    background-repeat: no-repeat;
    background-position: -225px -333px;
    background-image: url(/icons2.png);
}

.bg-lock-icon {
    background-repeat: no-repeat;
    background-position: -130px 0;
    background-image: url(/icons2.png);
}

.paging-item {
    @apply mr-1;
}

.paging-item button {
    @apply !fill-white;
}

input:disabled {
    @apply cursor-not-allowed bg-btnBackground border-separator text-secondaryText;
}

.setting-content {
    @apply py-9 min-h-with-copyright-footer;
}

.profile-post-item:nth-child(3n -2) {
    margin-right: 4px;
}

.click-opacity {
    @apply active:opacity-50;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    @apply shadow-inputFieldAutoFill;
}
